# Securely ignore these in your .gitignore file:
venv/
__pycache__/
*.pyc
.env
db.sqlite3  (if you ever use local testing files)
media/      (so your local test maps don't clutter your GitHub repository)